.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #3498db;
    border-bottom-color: rgba(158, 6, 158, 0.742);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
