.toast {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 350px;
    min-height: 80px;
    padding: 0.5rem 0;
    border-radius: 7px;
    line-height: 1rem;
    z-index: 10000000;
    background-color: #fff;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
}

.toast.show {
    opacity: 1;
}

.icon-wrapper {
    flex: 1 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fa-triangle-exclamation,
.fa-circle-check,
.fa-circle-exclamation {
    font-size: 1.5rem;
}

.fa-circle-check {
    color: #63E6BE;
}

.fa-triangle-exclamation {
    color: #F8BBD0;
}

.fa-circle-exclamation {
    color: #21859c;
}

.fa-circle-xmark {
    font-size: 24px;
}

.toast-close {
    flex: 1 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    border: none;
    background-color: inherit;
    cursor: pointer;
     &:hover {
        color: #333;
    }
}

.toast-message-wrapper{
    flex: 1 1 70%;
}

.toast-type {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.toast-message {
    font-size: 0.8rem;
}

.success {
    color: green;
}

.error {
    color: red
}