.comment {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.comment-info {
    position: relative;
    font-size: 0.9rem;
    color: #fff;
    background-color: #3a3b3c;
    width: fit-content;
    border-radius: 8px;
    padding: 8px;
}

.comment-username {
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

.comment-time {
    font-size: 0.8rem;
    color: #666;
}

.comment-action {
    font-size: 0.9rem;
    font-weight: bold;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

.comment-like.active {
    color: rgb(190, 17, 17)
}

.comment-likes {
    position: absolute;
    bottom: -6px;
    right: 0;
    font-size: 0.7rem;
    color: rgb(158, 156, 156)
}

.comment-edit-form {
    display: flex;
    align-items: center;
}

.comment-edit-field {
    background-color: #3a3b3c;
    border: none;
    outline: none;
    color: #fff;
    resize: none;
}

.comment-edit-submit-btn {
    border-radius: 6px;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: #475b6f;
    color: #fff;
    font-weight: bold;
}

.fa-heart {
    color: rgb(193, 14, 14);
}