.overlay {
    position: relative;
    z-index: 100001;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 80%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-color: gray black;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .overlay {
        width: 100vw
    }
}