.my-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile-container {
    width: 80vw;
    max-width: 750px;
}

.my-profile-header-wrapper {
    margin-bottom: 20px;
}

.my-profile-header {
    display: flex;
    margin-bottom: 20px;
    align-items: end;
}

.my-profile-username {
    margin: 0;
    font-size: 1.8rem;
    max-width: 20ch;
}

.my-profile-avatar {
    width: 150px;
    height: 150px;
    outline: 3px solid #000
}

.my-profile-nav-container {
    /* Nav container */
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.my-profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.my-profile-nav-item {
    height: 100%;
    border-radius: 10px;
}

.my-profile-nav-link.active {
    display: block;
    background-color: #f0f0f041;
    border-radius: 10px;
    color: #fff;
}

.my-profile-nav-item:hover {
    background-color: #f0f0f041;
    transition: background-color 0.2s ease-in-out;
}

.nav-text-wrapper {
    padding: 15px;
}

.my-profile-nav-button {
    display: none;
}

.friend-button {
    background-color: #2c3230;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.friend-button:hover:not(:disabled) {
    background-color: #f0f0f01e;
    transition: background-color 0.5s ease-in-out;
}

.fa-caret-down {
    margin-left: 4px;
}

@media screen and (max-width: 400px) {
    .my-profile-avatar {
        width: 75px;
        height: 75px;
    }
}

@container (max-width: 500px) {

    .my-profile-nav-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .my-profile-nav-button {
        display: block;
        margin: 0 auto;
        color: inherit;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .my-profile-nav {
        width: 60%;
        display: none;
        background-color: #2c3230;
        border-radius: 10px;
        padding: 15px 0;
    }

    .my-profile-nav-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .nav-text-wrapper {
        padding: 5px;
        font-size: 1.2rem;
    }
}