.user-avatar {
    border-radius: 100%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.user-avatar.small {
    width: 3rem;
    height: 3rem;
}

.user-avatar.medium {
    width: 3.5rem;
    height: 3.5rem;
}

.user-avatar.large {
    width: 4.5rem;
    height: 4.5rem;
    outline: 3px solid #000;
}