.user-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    object-fit: cover;
}

.large {
    width: 10rem;
    height: 10rem;
    outline: 3px solid #000;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .user-avatar {
        width: 5rem;
        height: 5rem;
    }
}
