.friends-wrapper {
    width: 80vw;
    max-width: 750px;
}

.friend-requests-section {
    margin-bottom: 20px;
}

.friends-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 2rem;
    gap: 1rem;
}

.friends-heading {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(67, 67, 67);
}