.friends-wrapper {
    width: 80vw;
    max-width: 750px;
}

.friend-requests-section {
    margin-bottom: 20px;
}

.friends-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    justify-content: center;
    margin-top: 2rem;
    gap: 0.8rem;
}

.friends-heading {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgb(48, 40, 84)
}