.overlay {
   
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(204, 18, 18, 0.5); */
    z-index: 111;
}

.overlay-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    margin: auto;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    max-height: 100vh;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}