.form-positioner {
    display: flex;
    justify-content: center;
}

.form-title {
    margin: 0;
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    width: 90vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;

}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
}

.form-input {
    padding: 10px;
    border: 2px solid #2e3b4f;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #19222d;
    outline: none;
    resize: vertical;
    color: #fff
}

.form-input:focus, .form-input:hover {
    border-color: rgba(158, 6, 158, 0.742)
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form-link {
    font-weight: bold;
    color: #007bff;
}

.error-msg {
    color: red;
    font-size: 0.8rem;
}

.error-msg-main {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

.input-error {
    border-color: red;
    &&:hover, &&:focus {
        border-color: red;
    }
}