@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body, html {
    background-color: #1a202a;
    color: #c4c0ba;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.preserve-line-breaks {
    white-space: pre-line;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

.divider {
    opacity: 0.5;
    border-width: 0.05rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

main {
    flex: 1;
    /* padding: 1rem 26% 0 26%; */
}

@media screen and (max-width: 700px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }
}
